asgiref==3.6.0
async-timeout==4.0.2
attrs==22.2.0
autobahn==22.12.1
automat==22.10.0
backports-zoneinfo==0.2.1
certifi==2022.12.7
cffi==1.15.1
channels-redis==4.0.0
channels==4.0.0
channels[daphne]==4.0.0
charset-normalizer==2.1.1
constantly==15.1.0
cryptography==38.0.4
daphne==4.0.0
django-braces==1.15.0
django-debug-toolbar==3.8.1
django-embed-video==1.4.8
django-extensions==3.2.1
django-redisboard==8.4.0
django==4.1.4
djangorestframework==3.14.0
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
msgpack==1.0.4
pillow==9.3.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycparser==2.21
pymemcache==4.0.0
pyopenssl==22.1.0
python-dotenv==0.21.0
pytz==2022.7
redis==4.4.0
requests==2.28.1
service-identity==21.1.0
setuptools==65.6.3
six==1.16.0
sqlparse==0.4.3
twisted-iocpsupport==1.0.2
twisted[tls]==22.10.0
txaio==22.2.1
typing-extensions==4.4.0
tzdata==2022.7
urllib3==1.26.13
uwsgi==2.0.21
zope-interface==5.5.2
psycopg2==2.9.5
